{% extends 'web/base.html.j2' %}

{% block body %}

<div class="container my-4">
    <h1 class="display-4">API Endpoints</h1>
    <p class="lead">API for COVID-19 Philippines data</p>
    <a class="github-button" href="https://github.com/kvdomingo" data-size="large" aria-label="Follow @kvdomingo on GitHub">Follow @kvdomingo</a>
    <a class="github-button" href="https://github.com/kvdomingo/covid19-ph-web" data-icon="octicon-star" data-size="large" aria-label="Star kvdomingo/covid19-ph-web on GitHub">Star</a>
    <a class="github-button" href="https://github.com/kvdomingo/covid19-ph-web/issues" data-icon="octicon-issue-opened" data-size="large" aria-label="Issue kvdomingo/covid19-ph-web on GitHub">Issue</a>
    <br /><br />
    <p class="lead">
        <b>Base URL: </b><a href="{{ url('api_name') }}" target="_blank">https://ncovenience.herokuapp.com/api</a>
    </p>
    <p class="lead">
        <b>Format: </b>JSON
    </p>
    <hr />

    <h2><code>GET</code> /</h2>
    <p class="lead">Returns the name of the API.</p>
    <p>Example response:</p>
    <pre class="bg-light"><code>
    {
        name: "ncovenience"
    }
    </code></pre>
    <a class="btn btn-outline-default" href="{{ url('api_name') }}" target="_blank">Try it</a>
    <hr />

    <h2><code>GET</code> /health</h2>
    <p class="lead">Check the health/uptime of the API.</p>
    <p>Example response:</p>
    <pre class="bg-light"><code>
    {
        uptime: 69
    }
    </code></pre>
    <a class="btn btn-outline-default" href="{{ url('api', args=('health',)) }}" target="_blank">Try it</a>
    <hr />

    <h2><code>GET</code> /cases</h2>
    <p class="lead">Returns all data for PH cases.</p>
    <p>Example response:</p>
    <pre class="bg-light"><code>
    {
        CaseCode: "C100119",
        Age: 30,
        AgeGroup: "30 to 34",
        Sex: "Male",
        DateRepConf: "4/12/2020",
        DateRecover: "",
        DateDied: "",
        RemovalType: "",
        DateRepRem: "",
        Admitted: "Yes",
        RegionRes: "NCR",
        ProvCityRes: "City of Parañaque"
    }
    </code></pre>
    <a class="btn btn-outline-default" href="{{ url('api', args=('cases',)) }}" target="_blank">Try it</a>

</div>

<script async defer src="https://buttons.github.io/buttons.js"></script>

{% endblock %}
