{% extends 'web/base.html.j2' %}

{% block body %}

<script type="text/javascript" src="{{ static('web/js/data.js') }}"></script>

<div class="container-fluid mt-5">
    <h1 class="display-5 my-4">PH Confirmed Cases Data</h1>
    <div class="table-responsive text-nowrap">
        {{ ph_conf }}
    </div>
</div>

{% endblock %}
