{% extends 'web/base.html.j2' %}

{% block body %}

<link rel="stylesheet" href="{{ static('web/css/index.css') }}" />

<div class="row row-cols-1 row-cols-md-2">
    <div class="col">
        <div class="card mb-3 m-5 map-container" id="map-container">
            <div class="card-header text-muted text-left text-uppercase">Cases Map</div>
            <div class="card-body map" id="map"></div>
        </div>
    </div>

    <div class="col">
        <div class="container my-4">
            <h1 class="display-4 my-4 text-left d-inline">Dashboard</h1>
            <p class="text-muted d-inline">(updated {{ last_updated }})</p>
            {% if announcement %}
                <p class="note note-warning mt-3">
                    <strong>Update {{ announcement.created }}:</strong> {{ announcement.body }}
                </p>
            {% endif %}

            <div class="text-center">
                {% set panel_contents = [
                    ('warning', 'Confirmed', numbers.confirmed, delta_counts.confirmed, 'users'),
                    ('primary', 'Active', numbers.active, delta_counts.active, 'stethoscope'),
                    ('success', 'Recovered', numbers.recovered, delta_counts.recovered, 'first-aid'),
                    ('danger', 'Deceased', numbers.deaths, delta_counts.deaths, 'skull-crossbones'),
                ] %}
                <div class="row row-cols-2 mt-4 mb-2">
                    {% for color, header, num, delta, icon in panel_contents %}
                        <div class="col mx-0 px-2">
                            <div class="card mb-3">
                                <div class="card-header text-muted text-left text-uppercase">
                                    <i class="fas fa-{{ icon }}"></i>&nbsp;{{ header }}
                                </div>
                                <div class="card-body text-center text-{{ 'muted' if num == 0 else color }}">
                                    <h1 class="card-title display-5" id="#{{ header.lower() }}" data-count="{{ num }}"><span class="count">{{ num }}</span></h1>
                                </div>
                                {% if delta is none %}
                                    <div class="card-footer text-right {{ 'text-muted' if num == 0 }}">
                                        {% if num == 0 %}
                                            <small>(No data available)</small>
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </div>
                                {% elif delta|int >= 0 %}
                                    <div class="card-footer text-right text-{{ 'success' if header == 'Recovered' else 'danger' }}">
                                        <small>+{{ delta }} (+{{ (delta/num * 100)|round(2) }}%)</small>
                                    </div>
                                {% else %}
                                    <div class="card-footer text-right text-{{ 'danger' if header == 'Recovered' else 'success' }}">
                                        <small>{{ delta }} ({{ (delta/num * 100)|round(2) }}%)</small>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% set charts = [
                    ('Cumulative daily cases', time_plot),
                    ('New daily cases', delta_plot),
                    ('Worldwide cases', world_plot),
                    ('Cases by age group', age_plot),
                    ('NCR cases', ncr_cases),
                ] %}
                {% for title, chart in charts %}
                    <div class="mb-3 mx-0 px-0">
                        <div class="card">
                            <div class="card-header text-left text-uppercase text-muted">{{ title }}</div>
                            <div class="card-body m-0 {{ 'text-muted' if chart == settings.UNAVAILABLE_RESPONSE }}">{{ chart }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="{{ static('web/js/Map.js') }}"></script>

{% endblock %}
