{% extends 'web/base.html.j2' %}

{% block body %}

<link rel="stylesheet" href="{{ static('web/css/index.css') }}" />
<script src="{{ static('web/js/index.js') }}"></script>


<div class="row m-0 p-0">
    <div class="col-md-6 m-0 p-0">
        <div class="map" id="map"></div>
    </div>
    <div class="col-md-6 py-3" id="sideDash">
            <h1 class="display-4 mb-4 text-left display-inline">Dashboard</h1>&nbsp;
            <p class="text-muted display-inline">(updated {{ last_updated }})</p>
        {% set panel_contents = [
            ('warning', 'Confirmed', numbers.confirmed, delta_counts.confirmed, 'users'),
            ('success', 'Recovered', numbers.recovered, delta_counts.recovered, 'first-aid'),
            ('danger', 'Deceased', numbers.deaths, delta_counts.deaths, 'skull-crossbones'),
            ('muted', 'Tests', numbers.tests, none, 'stethoscope'),
            ('secondary', 'PUMs', numbers.PUMs, none, 'temperature-high'),
            ('default', 'PUIs', numbers.PUIs, none, 'search'),
        ] %}
        <div class="row row-cols-2 row-cols-xl-3 mt-3">
            {% for color, header, num, delta, icon in panel_contents %}
                <div class="col mx-0 px-2">
                    <div class="card mb-3">
                        <div class="card-header text-muted text-left">
                            <i class="fas fa-{{ icon }}"></i>&nbsp;{{ header }}
                        </div>
                        <div class="card-body text-center text-{{ 'muted' if num == 0 else color }}">
                            <h1 class="card-title display-5">{{ num }}</h1>
                        </div>
                        {% if delta is none %}
                            <div class="card-footer text-right {{ 'text-muted' if num == 0 }}">
                                {% if num == 0 %}
                                    <small>(No data available)</small>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </div>
                        {% elif delta|int >= 0 %}
                            <div class="card-footer text-right text-{{ 'success' if header == 'Recovered' else 'danger' }}">
                                <small>+{{ delta }} (+{{ (delta/num * 100)|round(2) }}%)</small>
                            </div>
                        {% else %}
                            <div class="card-footer text-right text-{{ 'danger' if header == 'Recovered' else 'success' }}">
                                <small>{{ delta }} ({{ (delta/num * 100)|round(2) }}%)</small>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% set charts = [
            ('Cumulative daily cases', time_plot),
            ('New daily cases', delta_plot),
            ('Worldwide cases', world_plot),
            ('Cases by age group', age_plot),
            ('NCR cases', ncr_cases),
            ('Cases by nationality', nationality_cases),
        ] %}
        {% for title, chart in charts %}
            <div class="mb-3 mx-0 px-0">
                <div class="card">
                    <div class="card-header text-uppercase text-muted">{{ title }}</div>
                    <div class="card-body m-0 {{ 'text-muted' if chart == settings.UNAVAILABLE_RESPONSE }}">{{ chart }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<input id="f9063c359f30d308e94e90657d6242a1241e805e" value="{{ ph_cases }}" readonly type="hidden" />
<input id="b873053d13b7722f97f722df3a9a913ad27ec4da" value="{{ hospitals }}" readonly type="hidden" />

{% endblock %}
