{% extends 'web/base.html.j2' %}

{% block body %}

<link rel="stylesheet" href="{{ static('web/css/index.css') }}" />
<script src="{{ static('web/js/index.js') }}"></script>


<div class="row m-0 p-0">
    <div class="col-md-6 m-0 p-0">
        <div class="map" id="map"></div>
    </div>
    <div class="col-md-6 p-3" id="sideDash">
        <h1 class="display-4 mb-4">Dashboard</h1>
        {% set panel_contents = [
            ('warning', 'Confirmed', num_confirmed, delta_counts.confirmed, 'fas fa-users'),
            ('success', 'Recovered', num_recovered, delta_counts.recovered, 'fas fa-first-aid'),
            ('danger', 'Deceased', num_death, delta_counts.deaths, 'fas fa-skull-crossbones'),
            ('muted', 'Tests', num_tests, 1, 'fas fa-stethoscope'),
            ('secondary', 'PUMs', num_pum, 1, 'fas fa-temperature-high'),
            ('default', 'PUIs', num_pui, 1, 'fas fa-search'),
        ] %}
        <div class="row row-cols-2 row-cols-xl-3">
            {% for color, header, num, delta, icon in panel_contents %}
                <div class="col mx-0 px-2">
                    <div class="card mb-3">
                        <div class="card-header text-muted text-left">
                            <i class="{{ icon }}"></i>&nbsp;{{ header }}
                        </div>
                        <div class="card-body text-center text-{{ color }}">
                            <h1 class="card-title display-5">{{ num }}</h1>
                        </div>
                        {% if header in ['Confirmed', 'Recovered', 'Deceased'] %}
                            {% if delta|int > 0 %}
                                <div class="card-footer text-right text-{{ 'success' if header in ['Recovered'] else 'danger' }}">
                                    +{{ delta }} (+{{ (delta/num * 100)|round(2) }}%)
                                </div>
                            {% else %}
                                <div class="card-footer text-right text-{{ 'danger' if header in ['Recovered'] else 'success' }}">
                                    {{ delta }} ({{ (delta/num * 100)|round(2) }}%)
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% set charts = [
            ('Cumulative daily cases', time_plot),
            ('New daily cases', delta_plot),
            ('Worldwide cases', world_plot),
            ('Cases by age group', age_plot),
            ('NCR cases', ncr_cases),
            ('Cases by nationality', nationality_cases),
        ] %}
        {% for title, chart in charts %}
            <div class="mb-3 mx-0 px-0">
                <div class="card">
                    <div class="card-header text-uppercase text-muted">{{ title }}</div>
                    <div class="card-body m-0">{{ chart }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<input id="f9063c359f30d308e94e90657d6242a1241e805e" value="{{ ph_cases }}" readonly type="hidden" />
<input id="b873053d13b7722f97f722df3a9a913ad27ec4da" value="{{ hospitals }}" readonly type="hidden" />

{% endblock %}
