html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map-container {
    position: sticky;
    top: 20px;
}

.map {
    height: 576px;
    width: 100%;
}

.display-inline {
    display: inline;
}
